<!DOCTYPE html>
<html lang="en">
<html>
<head>
  	<title><%= full_title(yield(:title)) %></title>
	<link href='http://fonts.googleapis.com/css?family=Unlock' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'header_footer', media: "all" %>
    <%= stylesheet_link_tag    yield(:style), media: "all" %>
  	<%= javascript_include_tag 'jQuery' %>
  	<%= javascript_include_tag yield(:js) %>
  	<%= csrf_meta_tags %>
	<%= render 'layouts/shim' %>


</head>
<body class='<%= "#{yield(:style_class)}" %>'>

		
		<%= render 'layouts/header' %>
	
		<%= yield %>

		<%= render 'layouts/footer' %>

	
</body>
</html>
